@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#C5EBD6;
    --cor1:#83E1AD;
    --cor2:#71CD99;
    --cor3:#689D80;
    --cor4:#237B4A;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}
