@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#C5EBD6;
    --cor1:#83E1AD;
    --cor2:#71CD99;
    --cor3:#689D80;
    --cor4:#237B4A;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-width: 150px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
    padding: 20px 0px;
}

header > p {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
    padding: 0px 10px;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}

nav {
    background-color: transparent;
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.219);
    text-align: left;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: var(--cor5);
}
